In [24]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandasql import sqldf

In [23]:
!pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in c:\users\acer\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: sqlalchemy in c:\users\acer\anaconda3\lib\site-packages (from pandasql) (1.4.32)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\acer\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=766e5bed1b01bdcbbfe2d05f77ea20f4e087d8cdc490b829ee9b8401659d8f69
  Stored in directory: c:\users\acer\appdata\local\pip\cache\wheels\63\e8\ec\75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
file1=pd.read_csv('202108-divvy-tripdata.csv')
file2=pd.read_csv('202109-divvy-tripdata.csv')
file3=pd.read_csv('202110-divvy-tripdata.csv')
file4=pd.read_csv('202111-divvy-tripdata.csv')
file5=pd.read_csv('202112-divvy-tripdata.csv')
file6=pd.read_csv('202201-divvy-tripdata.csv')
file7=pd.read_csv('202202-divvy-tripdata.csv')
file8=pd.read_csv('202203-divvy-tripdata.csv')
file9=pd.read_csv('202204-divvy-tripdata.csv')
file10=pd.read_csv('202205-divvy-tripdata.csv')
file11=pd.read_csv('202206-divvy-tripdata.csv')
file12=pd.read_csv('202207-divvy-tripdata.csv')

In [57]:
file1=pd.read_csv('202108-divvy-tripdata.csv')

In [3]:
data=pd.concat([file1, file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12], ignore_index=True)

In [4]:
file1.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    88458
start_station_id      88458
end_station_name      94115
end_station_id        94115
start_lat                 0
start_lng                 0
end_lat                 706
end_lng                 706
member_casual             0
dtype: int64

In [5]:
file1=file1[file1['end_lat'].notnull()]

In [6]:
## load and continue
stat_data=pd.read_csv('station_data4.csv')

In [8]:
stat_data.drop(['Unnamed: 0'], axis=1,inplace=True)

In [9]:
stat_data

,station_name,station_lat,station_lng,station_coor
0,Aberdeen St & Jackson Blvd,41.877793,-87.654751,"(41.8778, -87.6548)"
1,Desplaines St & Kinzie St,41.888716,-87.644448,"(41.8887, -87.6444)"
2,Larrabee St & Armitage Ave,41.918084,-87.643749,"(41.9181, -87.6437)"
3,Kingsbury St & Kinzie St,41.889077,-87.638426,"(41.8891, -87.6384)"
4,Michigan Ave & Oak St,41.900960,-87.623777,"(41.901, -87.6238)"
...,...,...,...,...
992,Public Rack - Halsted St & 109th St,41.700000,-87.640000,"(41.7, -87.64)"
993,Public Rack - Peterson Ave & Bernard Ave,41.990000,-87.720000,"(41.99, -87.72)"
994,Halsted St & 80th St,41.750000,-87.640000,"(41.75, -87.64)"
995,Central Ave & Congress Pkwy,41.870000,-87.760000,"(41.87, -87.76)"
996,Public Rack - Clyde Ave & 87th St,41.740000,-87.570000,"(41.74, -87.57)"

In [18]:
station_coor=[]
for i in range(0,len(stat_data)):
    a=(round(stat_data['station_lat'].values[i],1),round(stat_data['station_lng'].values[i],1))
    station_coor.append(a)

In [19]:
stat_data.insert(4,'station_coor1',station_coor)

In [35]:
len(stat_data['station_coor1'].unique())

17

In [41]:
statatata=stat_data.drop_duplicates('station_coor1',ignore_index=True)

In [42]:
statatata.drop(['station_coor','station_coor2','station_coor3'], axis=1,inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_10104\2677460457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statatata.drop(['station_coor','station_coor2','station_coor3'], axis=1,inplace=True)

In [43]:
statatata

,station_name,station_lat,station_lng,station_coor1
0,Aberdeen St & Jackson Blvd,41.877793,-87.654751,"(41.9, -87.7)"
1,Desplaines St & Kinzie St,41.888716,-87.644448,"(41.9, -87.6)"
2,Clark St & Leland Ave,41.967096,-87.667429,"(42.0, -87.7)"
3,Cornell Dr & Hayes Dr,41.780595,-87.584846,"(41.8, -87.6)"
4,Indiana Ave & 103rd St,41.707170,-87.618472,"(41.7, -87.6)"
5,Sheridan Rd & Noyes St (NU),42.058240,-87.677460,"(42.1, -87.7)"
6,Loomis St & Archer Ave,41.841633,-87.657435,"(41.8, -87.7)"
7,Clarendon Ave & Gordon Ter,41.957867,-87.649505,"(42.0, -87.6)"
8,Meade Ave & Diversey Ave,41.930000,-87.780000,"(41.9, -87.8)"
9,Meade Ave & Addison St,41.950000,-87.780000,"(42.0, -87.8)"
10,Houston Ave & 92nd St,41.728204,-87.549700,"(41.7, -87.5)"
11,Hale Ave & 107th St,41.699230,-87.668926,"(41.7, -87.7)"
12,Hegewisch Metra Station,41.648579,-87.546238,"(41.6, -87.5)"
13,Rainbow Beach,41.757871,-87.549386,"(41.8, -87.5)"
14,Lavergne Ave & 46th St,41.810000,-87.750000,"(41.8, -87.8)"
15,Indiana Ave & 133rd St,41.650000,-87.620000,"(41.6, -87.6)"
16,Pawel Bialowas - Test- PBSC charging station,45.635034,-73.796477,"(45.6, -73.8)"

In [44]:
statatata.to_csv("station_data1.csv")

In [59]:
file1=file1.applymap(str)

In [60]:
missing_stat=sqldf("select * from file1 where start_station_name='nan' or end_station_name='nan' ")

In [ ]:
k=pd.dataframe((columns = [])

In [61]:
missing_stat

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,nan,nan,nan,nan,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,nan,nan,nan,nan,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,nan,nan,nan,nan,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,nan,nan,nan,nan,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,nan,nan,nan,nan,41.79,-87.6,41.77,-87.62,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129938,F9635700B3502146,electric_bike,2021-08-30 03:29:22,2021-08-30 03:33:00,Broadway & Sheridan Rd,13323,nan,nan,41.952799166666665,-87.65001216666667,41.96,-87.65,casual
129939,E160D1A57A7197F7,electric_bike,2021-08-30 19:02:14,2021-08-30 19:36:17,Cottage Grove Ave & Oakwood Blvd,TA1308000038,nan,nan,41.822989166666666,-87.607163,41.84,-87.61,casual
129940,E4367E0C56138B6F,electric_bike,2021-08-28 23:56:49,2021-08-29 00:20:15,Broadway & Sheridan Rd,13323,nan,nan,41.952800833333335,-87.65005466666666,41.96,-87.71,casual
129941,B0806E136C1BB5B5,electric_bike,2021-08-08 11:58:37,2021-08-08 12:10:17,Broadway & Sheridan Rd,13323,nan,nan,41.9528675,-87.65017466666667,41.97,-87.66,casual
129942,03148CA205478A4B,electric_bike,2021-08-27 12:57:34,2021-08-27 13:01:32,Broadway & Sheridan Rd,13323,nan,nan,41.952848,-87.6501595,41.94,-87.65,casual

In [11]:
## we operate on a subset of missing data to optimise operations
missing_stat=file1[file1['start_station_name'].isnull() | file1['end_station_name'].isnull()]

In [12]:
file1=file1[file1['start_station_name'].notnull() & file1['end_station_name'].notnull()]

In [79]:
start_station_coor=[]
end_station_coor=[]
for i in range(0,len(missing_stat)):
    a=(round(float(missing_stat['start_lat'].values[i]),4),round(float(missing_stat['start_lng'].values[i]),4))
    start_station_coor.append(a)
    b=(round(float(missing_stat['end_lat'].values[i]),4),round(float(missing_stat['end_lng'].values[i]),4))
    end_station_coor.append(b)

In [73]:
round(5.5555999,4)

5.5556

In [80]:
missing_stat.insert(9,'start_station_coor',start_station_coor)
missing_stat.insert(11,'end_station_coor',end_station_coor)

In [ ]:
missing_stat.reset_index(inplace=True)

In [81]:
missing_stat.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,nan,nan,nan,nan,41.77,"(41.77, -87.68)",-87.68,"(41.77, -87.68)",41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,nan,nan,nan,nan,41.77,"(41.77, -87.68)",-87.68,"(41.77, -87.63)",41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,nan,nan,nan,nan,41.95,"(41.95, -87.65)",-87.65,"(41.97, -87.66)",41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,nan,nan,nan,nan,41.97,"(41.97, -87.67)",-87.67,"(41.95, -87.65)",41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,nan,nan,nan,nan,41.79,"(41.79, -87.6)",-87.6,"(41.77, -87.62)",41.77,-87.62,member

In [82]:
len(missing_stat[missing_stat['start_station_name']=='nan'])

88458

In [28]:
stat_data=stat_data.applymap(str)

In [29]:
stat_data.columns

Index(['station_name', 'station_lat', 'station_lng', 'station_coor'], dtype='object')

In [41]:
missing_stat.columns

Index(['index', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_station_coor', 'start_lng',
       'end_station_coor', 'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

In [85]:
missing_stat=missing_stat.applymap(str)

In [35]:
a=sqldf("select missing_stat.ride_id, missing_stat.rideable_type, missing_stat.start_station_name, 
        missing_stat.start_station_coor, missing_stat.end_station_coor,stat_data.station_name, stat_data.station_coor 
        from missing_stat join stat_data on missing_stat.start_station_coor=stat_data.station_coor orstat_data on
        missing_stat.end_station_coor=stat_data.station_coor")

In [90]:
a=sqldf("select * from (select * from missing_stat where start_station_name='nan')as missi join stat_data on missi.start_station_coor=stat_data.station_coor")

In [87]:
a

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual,station_name,station_lat,station_lng,station_coor
0,612F12C94A964F3E,electric_bike,2021-08-19 12:41:12,2021-08-19 12:47:47,nan,nan,nan,nan,41.81,"(41.81, -87.61)",-87.61,"(41.8, -87.6)",41.8,-87.6,member,Forrestville Ave & 47th St,41.81,-87.61,"(41.81, -87.61)"
1,C7435946FDFFA9B7,electric_bike,2021-08-19 12:21:50,2021-08-19 12:37:31,nan,nan,nan,nan,41.77,"(41.77, -87.62)",-87.62,"(41.81, -87.61)",41.81,-87.61,member,Martin Luther King Dr & 69th St,41.77,-87.62,"(41.77, -87.62)"
2,C67017767EED2251,electric_bike,2021-08-13 14:52:35,2021-08-13 14:58:16,nan,nan,Clark St & Grace St,TA1307000127,41.94,"(41.94, -87.64)",-87.64,"(41.9509, -87.6591)",41.9508745,-87.659146,member,W Oakdale Ave & N Broadway,41.94,-87.64,"(41.94, -87.64)"
3,82437E52DC3B9A8A,electric_bike,2021-08-04 12:50:53,2021-08-04 13:08:20,nan,nan,nan,nan,41.74,"(41.74, -87.53)",-87.53,"(41.74, -87.53)",41.74,-87.53,member,Steelworkers Park,41.74,-87.53,"(41.74, -87.53)"
4,2FF71C763499B208,electric_bike,2021-08-01 18:11:35,2021-08-01 18:17:05,nan,nan,nan,nan,41.95,"(41.95, -87.71)",-87.71,"(41.97, -87.71)",41.97,-87.71,member,Troy St & Grace St,41.95,-87.71,"(41.95, -87.71)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52244,98A3F3114CE692A9,electric_bike,2021-08-17 17:25:41,2021-08-17 17:29:38,Cornell Ave & Hyde Park Blvd,KA1503000007,nan,nan,41.802411166666666,"(41.8024, -87.5869)",-87.58692066666667,"(41.8, -87.58)",41.8,-87.58,member,Cornell Ave & Hyde Park Blvd,41.802406,-87.586924,"(41.8024, -87.5869)"
52245,DD96CAD38FB2801A,electric_bike,2021-08-11 16:50:23,2021-08-11 16:55:35,Ogden Ave & Race Ave,13194,nan,nan,41.891787666666666,"(41.8918, -87.6588)",-87.65879066666666,"(41.89, -87.65)",41.89,-87.65,member,Ogden Ave & Race Ave,41.891795,-87.658751,"(41.8918, -87.6588)"
52246,2347907D0D84090F,electric_bike,2021-08-26 15:43:52,2021-08-26 16:13:59,Broadway & Sheridan Rd,13323,nan,nan,41.9528295,"(41.9528, -87.65)",-87.65002583333333,"(42.02, -87.68)",42.02,-87.68,member,Broadway & Sheridan Rd,41.952833,-87.649993,"(41.9528, -87.65)"
52247,D37386517F01D00F,electric_bike,2021-08-26 14:50:15,2021-08-26 15:28:48,Broadway & Sheridan Rd,13323,nan,nan,41.952790666666665,"(41.9528, -87.65)",-87.649993,"(41.92, -87.71)",41.92,-87.71,casual,Broadway & Sheridan Rd,41.952833,-87.649993,"(41.9528, -87.65)"
52248,F9635700B3502146,electric_bike,2021-08-30 03:29:22,2021-08-30 03:33:00,Broadway & Sheridan Rd,13323,nan,nan,41.952799166666665,"(41.9528, -87.65)",-87.65001216666667,"(41.96, -87.65)",41.96,-87.65,casual,Broadway & Sheridan Rd,41.952833,-87.649993,"(41.9528, -87.65)"

In [91]:
a

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual,station_name,station_lat,station_lng,station_coor
0,612F12C94A964F3E,electric_bike,2021-08-19 12:41:12,2021-08-19 12:47:47,nan,nan,nan,nan,41.81,"(41.81, -87.61)",-87.61,"(41.8, -87.6)",41.8,-87.6,member,Forrestville Ave & 47th St,41.81,-87.61,"(41.81, -87.61)"
1,C7435946FDFFA9B7,electric_bike,2021-08-19 12:21:50,2021-08-19 12:37:31,nan,nan,nan,nan,41.77,"(41.77, -87.62)",-87.62,"(41.81, -87.61)",41.81,-87.61,member,Martin Luther King Dr & 69th St,41.77,-87.62,"(41.77, -87.62)"
2,C67017767EED2251,electric_bike,2021-08-13 14:52:35,2021-08-13 14:58:16,nan,nan,Clark St & Grace St,TA1307000127,41.94,"(41.94, -87.64)",-87.64,"(41.9509, -87.6591)",41.9508745,-87.659146,member,W Oakdale Ave & N Broadway,41.94,-87.64,"(41.94, -87.64)"
3,82437E52DC3B9A8A,electric_bike,2021-08-04 12:50:53,2021-08-04 13:08:20,nan,nan,nan,nan,41.74,"(41.74, -87.53)",-87.53,"(41.74, -87.53)",41.74,-87.53,member,Steelworkers Park,41.74,-87.53,"(41.74, -87.53)"
4,2FF71C763499B208,electric_bike,2021-08-01 18:11:35,2021-08-01 18:17:05,nan,nan,nan,nan,41.95,"(41.95, -87.71)",-87.71,"(41.97, -87.71)",41.97,-87.71,member,Troy St & Grace St,41.95,-87.71,"(41.95, -87.71)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41743,427D22B5567CA482,electric_bike,2021-08-31 14:32:42,2021-08-31 14:50:03,nan,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.9159, -87.6775)",41.91588433333333,-87.67749366666666,casual,Kilpatrick Ave & Grand Ave,41.91,-87.74,"(41.91, -87.74)"
41744,C029AF992A438170,electric_bike,2021-08-12 19:20:22,2021-08-12 19:23:32,nan,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.68)",-87.68,"(41.9159, -87.6772)",41.9158925,-87.6772445,casual,Damen Ave & Wabansia Ave,41.91,-87.68,"(41.91, -87.68)"
41745,84F6451A15059146,electric_bike,2021-08-07 00:32:34,2021-08-07 00:53:41,nan,nan,Damen Ave & Cortland St,13133,41.94,"(41.94, -87.65)",-87.65,"(41.9161, -87.6775)",41.91609016666666,-87.677468,casual,N Sheffield Ave & W Wellington Ave,41.94,-87.65,"(41.94, -87.65)"
41746,B1B869BFFC16A869,electric_bike,2021-08-22 11:30:26,2021-08-22 11:51:28,nan,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.75)",-87.75,"(41.916, -87.6774)",41.91595183333333,-87.677358,casual,Leamington Ave & Hirsch St,41.91,-87.75,"(41.91, -87.75)"
41747,A8E60043C2ED480C,electric_bike,2021-08-10 15:15:36,2021-08-10 15:31:46,nan,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.916, -87.6773)",41.91599683333333,-87.67729066666666,casual,Kilpatrick Ave & Grand Ave,41.91,-87.74,"(41.91, -87.74)"

In [92]:
a['start_station_name']=a['station_name']

In [93]:
a

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual,station_name,station_lat,station_lng,station_coor
0,612F12C94A964F3E,electric_bike,2021-08-19 12:41:12,2021-08-19 12:47:47,Forrestville Ave & 47th St,nan,nan,nan,41.81,"(41.81, -87.61)",-87.61,"(41.8, -87.6)",41.8,-87.6,member,Forrestville Ave & 47th St,41.81,-87.61,"(41.81, -87.61)"
1,C7435946FDFFA9B7,electric_bike,2021-08-19 12:21:50,2021-08-19 12:37:31,Martin Luther King Dr & 69th St,nan,nan,nan,41.77,"(41.77, -87.62)",-87.62,"(41.81, -87.61)",41.81,-87.61,member,Martin Luther King Dr & 69th St,41.77,-87.62,"(41.77, -87.62)"
2,C67017767EED2251,electric_bike,2021-08-13 14:52:35,2021-08-13 14:58:16,W Oakdale Ave & N Broadway,nan,Clark St & Grace St,TA1307000127,41.94,"(41.94, -87.64)",-87.64,"(41.9509, -87.6591)",41.9508745,-87.659146,member,W Oakdale Ave & N Broadway,41.94,-87.64,"(41.94, -87.64)"
3,82437E52DC3B9A8A,electric_bike,2021-08-04 12:50:53,2021-08-04 13:08:20,Steelworkers Park,nan,nan,nan,41.74,"(41.74, -87.53)",-87.53,"(41.74, -87.53)",41.74,-87.53,member,Steelworkers Park,41.74,-87.53,"(41.74, -87.53)"
4,2FF71C763499B208,electric_bike,2021-08-01 18:11:35,2021-08-01 18:17:05,Troy St & Grace St,nan,nan,nan,41.95,"(41.95, -87.71)",-87.71,"(41.97, -87.71)",41.97,-87.71,member,Troy St & Grace St,41.95,-87.71,"(41.95, -87.71)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41743,427D22B5567CA482,electric_bike,2021-08-31 14:32:42,2021-08-31 14:50:03,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.9159, -87.6775)",41.91588433333333,-87.67749366666666,casual,Kilpatrick Ave & Grand Ave,41.91,-87.74,"(41.91, -87.74)"
41744,C029AF992A438170,electric_bike,2021-08-12 19:20:22,2021-08-12 19:23:32,Damen Ave & Wabansia Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.68)",-87.68,"(41.9159, -87.6772)",41.9158925,-87.6772445,casual,Damen Ave & Wabansia Ave,41.91,-87.68,"(41.91, -87.68)"
41745,84F6451A15059146,electric_bike,2021-08-07 00:32:34,2021-08-07 00:53:41,N Sheffield Ave & W Wellington Ave,nan,Damen Ave & Cortland St,13133,41.94,"(41.94, -87.65)",-87.65,"(41.9161, -87.6775)",41.91609016666666,-87.677468,casual,N Sheffield Ave & W Wellington Ave,41.94,-87.65,"(41.94, -87.65)"
41746,B1B869BFFC16A869,electric_bike,2021-08-22 11:30:26,2021-08-22 11:51:28,Leamington Ave & Hirsch St,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.75)",-87.75,"(41.916, -87.6774)",41.91595183333333,-87.677358,casual,Leamington Ave & Hirsch St,41.91,-87.75,"(41.91, -87.75)"
41747,A8E60043C2ED480C,electric_bike,2021-08-10 15:15:36,2021-08-10 15:31:46,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.916, -87.6773)",41.91599683333333,-87.67729066666666,casual,Kilpatrick Ave & Grand Ave,41.91,-87.74,"(41.91, -87.74)"

In [98]:
notmissing_stat_start=pd.DataFrame(columns = missing_stat.columns)

In [99]:
notmissing_stat_start.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_station_coor', 'start_lng',
       'end_station_coor', 'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

In [94]:
a.drop(['station_name','station_lat','station_lng','station_coor'], axis=1,inplace=True)

In [95]:
a

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual
0,612F12C94A964F3E,electric_bike,2021-08-19 12:41:12,2021-08-19 12:47:47,Forrestville Ave & 47th St,nan,nan,nan,41.81,"(41.81, -87.61)",-87.61,"(41.8, -87.6)",41.8,-87.6,member
1,C7435946FDFFA9B7,electric_bike,2021-08-19 12:21:50,2021-08-19 12:37:31,Martin Luther King Dr & 69th St,nan,nan,nan,41.77,"(41.77, -87.62)",-87.62,"(41.81, -87.61)",41.81,-87.61,member
2,C67017767EED2251,electric_bike,2021-08-13 14:52:35,2021-08-13 14:58:16,W Oakdale Ave & N Broadway,nan,Clark St & Grace St,TA1307000127,41.94,"(41.94, -87.64)",-87.64,"(41.9509, -87.6591)",41.9508745,-87.659146,member
3,82437E52DC3B9A8A,electric_bike,2021-08-04 12:50:53,2021-08-04 13:08:20,Steelworkers Park,nan,nan,nan,41.74,"(41.74, -87.53)",-87.53,"(41.74, -87.53)",41.74,-87.53,member
4,2FF71C763499B208,electric_bike,2021-08-01 18:11:35,2021-08-01 18:17:05,Troy St & Grace St,nan,nan,nan,41.95,"(41.95, -87.71)",-87.71,"(41.97, -87.71)",41.97,-87.71,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41743,427D22B5567CA482,electric_bike,2021-08-31 14:32:42,2021-08-31 14:50:03,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.9159, -87.6775)",41.91588433333333,-87.67749366666666,casual
41744,C029AF992A438170,electric_bike,2021-08-12 19:20:22,2021-08-12 19:23:32,Damen Ave & Wabansia Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.68)",-87.68,"(41.9159, -87.6772)",41.9158925,-87.6772445,casual
41745,84F6451A15059146,electric_bike,2021-08-07 00:32:34,2021-08-07 00:53:41,N Sheffield Ave & W Wellington Ave,nan,Damen Ave & Cortland St,13133,41.94,"(41.94, -87.65)",-87.65,"(41.9161, -87.6775)",41.91609016666666,-87.677468,casual
41746,B1B869BFFC16A869,electric_bike,2021-08-22 11:30:26,2021-08-22 11:51:28,Leamington Ave & Hirsch St,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.75)",-87.75,"(41.916, -87.6774)",41.91595183333333,-87.677358,casual
41747,A8E60043C2ED480C,electric_bike,2021-08-10 15:15:36,2021-08-10 15:31:46,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.916, -87.6773)",41.91599683333333,-87.67729066666666,casual

In [103]:
notmissing_stat_start=pd.concat([notmissing_stat_start,a], ignore_index=True)

In [104]:
notmissing_stat_start

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual
0,612F12C94A964F3E,electric_bike,2021-08-19 12:41:12,2021-08-19 12:47:47,Forrestville Ave & 47th St,nan,nan,nan,41.81,"(41.81, -87.61)",-87.61,"(41.8, -87.6)",41.8,-87.6,member
1,C7435946FDFFA9B7,electric_bike,2021-08-19 12:21:50,2021-08-19 12:37:31,Martin Luther King Dr & 69th St,nan,nan,nan,41.77,"(41.77, -87.62)",-87.62,"(41.81, -87.61)",41.81,-87.61,member
2,C67017767EED2251,electric_bike,2021-08-13 14:52:35,2021-08-13 14:58:16,W Oakdale Ave & N Broadway,nan,Clark St & Grace St,TA1307000127,41.94,"(41.94, -87.64)",-87.64,"(41.9509, -87.6591)",41.9508745,-87.659146,member
3,82437E52DC3B9A8A,electric_bike,2021-08-04 12:50:53,2021-08-04 13:08:20,Steelworkers Park,nan,nan,nan,41.74,"(41.74, -87.53)",-87.53,"(41.74, -87.53)",41.74,-87.53,member
4,2FF71C763499B208,electric_bike,2021-08-01 18:11:35,2021-08-01 18:17:05,Troy St & Grace St,nan,nan,nan,41.95,"(41.95, -87.71)",-87.71,"(41.97, -87.71)",41.97,-87.71,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83491,427D22B5567CA482,electric_bike,2021-08-31 14:32:42,2021-08-31 14:50:03,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.9159, -87.6775)",41.91588433333333,-87.67749366666666,casual
83492,C029AF992A438170,electric_bike,2021-08-12 19:20:22,2021-08-12 19:23:32,Damen Ave & Wabansia Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.68)",-87.68,"(41.9159, -87.6772)",41.9158925,-87.6772445,casual
83493,84F6451A15059146,electric_bike,2021-08-07 00:32:34,2021-08-07 00:53:41,N Sheffield Ave & W Wellington Ave,nan,Damen Ave & Cortland St,13133,41.94,"(41.94, -87.65)",-87.65,"(41.9161, -87.6775)",41.91609016666666,-87.677468,casual
83494,B1B869BFFC16A869,electric_bike,2021-08-22 11:30:26,2021-08-22 11:51:28,Leamington Ave & Hirsch St,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.75)",-87.75,"(41.916, -87.6774)",41.91595183333333,-87.677358,casual
83495,A8E60043C2ED480C,electric_bike,2021-08-10 15:15:36,2021-08-10 15:31:46,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.916, -87.6773)",41.91599683333333,-87.67729066666666,casual

In [105]:
missing_stat=pd.concat([missing_stat,a], ignore_index=True)

In [106]:
missing_stat

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,nan,nan,nan,nan,41.77,"(41.77, -87.68)",-87.68,"(41.77, -87.68)",41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,nan,nan,nan,nan,41.77,"(41.77, -87.68)",-87.68,"(41.77, -87.63)",41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,nan,nan,nan,nan,41.95,"(41.95, -87.65)",-87.65,"(41.97, -87.66)",41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,nan,nan,nan,nan,41.97,"(41.97, -87.67)",-87.67,"(41.95, -87.65)",41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,nan,nan,nan,nan,41.79,"(41.79, -87.6)",-87.6,"(41.77, -87.62)",41.77,-87.62,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171686,427D22B5567CA482,electric_bike,2021-08-31 14:32:42,2021-08-31 14:50:03,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.9159, -87.6775)",41.91588433333333,-87.67749366666666,casual
171687,C029AF992A438170,electric_bike,2021-08-12 19:20:22,2021-08-12 19:23:32,Damen Ave & Wabansia Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.68)",-87.68,"(41.9159, -87.6772)",41.9158925,-87.6772445,casual
171688,84F6451A15059146,electric_bike,2021-08-07 00:32:34,2021-08-07 00:53:41,N Sheffield Ave & W Wellington Ave,nan,Damen Ave & Cortland St,13133,41.94,"(41.94, -87.65)",-87.65,"(41.9161, -87.6775)",41.91609016666666,-87.677468,casual
171689,B1B869BFFC16A869,electric_bike,2021-08-22 11:30:26,2021-08-22 11:51:28,Leamington Ave & Hirsch St,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.75)",-87.75,"(41.916, -87.6774)",41.91595183333333,-87.677358,casual
171690,A8E60043C2ED480C,electric_bike,2021-08-10 15:15:36,2021-08-10 15:31:46,Kilpatrick Ave & Grand Ave,nan,Damen Ave & Cortland St,13133,41.91,"(41.91, -87.74)",-87.74,"(41.916, -87.6773)",41.91599683333333,-87.67729066666666,casual

In [107]:
missing_stat.drop_duplicates('ride_id',keep=False,inplace=True,ignore_index=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_station_coor,start_lng,end_station_coor,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,nan,nan,nan,nan,41.77,"(41.77, -87.68)",-87.68,"(41.77, -87.68)",41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,nan,nan,nan,nan,41.77,"(41.77, -87.68)",-87.68,"(41.77, -87.63)",41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,nan,nan,nan,nan,41.95,"(41.95, -87.65)",-87.65,"(41.97, -87.66)",41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,nan,nan,nan,nan,41.97,"(41.97, -87.67)",-87.67,"(41.95, -87.65)",41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,nan,nan,nan,nan,41.79,"(41.79, -87.6)",-87.6,"(41.77, -87.62)",41.77,-87.62,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88190,F9635700B3502146,electric_bike,2021-08-30 03:29:22,2021-08-30 03:33:00,Broadway & Sheridan Rd,13323,nan,nan,41.952799166666665,"(41.9528, -87.65)",-87.65001216666667,"(41.96, -87.65)",41.96,-87.65,casual
88191,E160D1A57A7197F7,electric_bike,2021-08-30 19:02:14,2021-08-30 19:36:17,Cottage Grove Ave & Oakwood Blvd,TA1308000038,nan,nan,41.822989166666666,"(41.823, -87.6072)",-87.607163,"(41.84, -87.61)",41.84,-87.61,casual
88192,E4367E0C56138B6F,electric_bike,2021-08-28 23:56:49,2021-08-29 00:20:15,Broadway & Sheridan Rd,13323,nan,nan,41.952800833333335,"(41.9528, -87.6501)",-87.65005466666666,"(41.96, -87.71)",41.96,-87.71,casual
88193,B0806E136C1BB5B5,electric_bike,2021-08-08 11:58:37,2021-08-08 12:10:17,Broadway & Sheridan Rd,13323,nan,nan,41.9528675,"(41.9529, -87.6502)",-87.65017466666667,"(41.97, -87.66)",41.97,-87.66,casual
88194,03148CA205478A4B,electric_bike,2021-08-27 12:57:34,2021-08-27 13:01:32,Broadway & Sheridan Rd,13323,nan,nan,41.952848,"(41.9528, -87.6502)",-87.6501595,"(41.94, -87.65)",41.94,-87.65,casual

In [63]:
b=sqldf("select * from missing_stat join stat_data on missing_stat.start_station_coor=stat_data.station_coor  ")

PandaSQLException: (sqlite3.OperationalError) no such column: missing_stat.start_station_coor
[SQL: select * from missing_stat join stat_data on missing_stat.start_station_coor=stat_data.station_coor  ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [49]:
b

,ride_id,start_station_name,station_name,station_coor,end_station_name,end_station_coor
0,612F12C94A964F3E,nan,Forrestville Ave & 47th St,"(41.81, -87.61)",nan,"(41.8, -87.6)"
1,C7435946FDFFA9B7,nan,Martin Luther King Dr & 69th St,"(41.77, -87.62)",nan,"(41.81, -87.61)"
2,C67017767EED2251,nan,W Oakdale Ave & N Broadway,"(41.94, -87.64)",Clark St & Grace St,"(41.9509, -87.6591)"
3,82437E52DC3B9A8A,nan,Steelworkers Park,"(41.74, -87.53)",nan,"(41.74, -87.53)"
4,2FF71C763499B208,nan,Troy St & Grace St,"(41.95, -87.71)",nan,"(41.97, -87.71)"
...,...,...,...,...,...,...
51678,98A3F3114CE692A9,Cornell Ave & Hyde Park Blvd,Cornell Ave & Hyde Park Blvd,"(41.8024, -87.5869)",nan,"(41.8, -87.58)"
51679,DD96CAD38FB2801A,Ogden Ave & Race Ave,Ogden Ave & Race Ave,"(41.8918, -87.6588)",nan,"(41.89, -87.65)"
51680,2347907D0D84090F,Broadway & Sheridan Rd,Broadway & Sheridan Rd,"(41.9528, -87.65)",nan,"(42.02, -87.68)"
51681,D37386517F01D00F,Broadway & Sheridan Rd,Broadway & Sheridan Rd,"(41.9528, -87.65)",nan,"(41.92, -87.71)"
51682,F9635700B3502146,Broadway & Sheridan Rd,Broadway & Sheridan Rd,"(41.9528, -87.65)",nan,"(41.96, -87.65)"

In [50]:
len(b['ride_id'].unique())

51683

In [48]:
file1.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    88458
start_station_id      88458
end_station_name      93409
end_station_id        93409
start_lat                 0
start_station_coor        0
start_lng                 0
end_station_coor          0
end_lat                   0
end_lng                   0
member_casual             0
dtype: int64

In [50]:
len(missing_stat)

129237

In [52]:
len(file1)

674409

In [ ]:
######

In [57]:
stat_data.drop(['station_coor'], axis=1,inplace=True)

In [41]:
station_coor=[]
for i in range(0,len(stat_data)):
    a=(round(stat_data['station_lat'].values[i],4),round(stat_data['station_lng'].values[i],4))
    station_coor.append(a)

In [58]:
stat_data.insert(4,'station_coor',station_coor)

In [ ]:
##########

In [65]:
missing_stat.isnull().sum()

index                     0
ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    88458
start_station_id      88458
end_station_name      93409
end_station_id        93409
start_lat                 0
start_station_coor        0
start_lng                 0
end_station_coor          0
end_lat                   0
end_lng                   0
member_casual             0
dtype: int64

In [30]:
##a=(missing_stat['start_lat'].values[i],missing_stat['start_lng'].values[i])

In [ ]:
##a=(missing_stat['end_lat'].values[i],missing_stat['end_lng'].values[i])

In [67]:
#test 1
missing_start=missing_stat['start_station_name'].isnull()

missing_end=missing_stat['end_station_name'].isnull()
for j in range(0,len(stat_data)):
    for i in range(0,len(missing_stat)):
       
       
        if missing_start[i]:  
            a=(round(missing_stat['start_lat'].values[i],4),round(missing_stat['start_lng'].values[i],4))
            if a==stat_data['station_coor'].values[j] :
                missing_stat['start_station_name'].values[i]=stat_data['station_name'].values[j]

        if missing_end[i]:
            b=(round(missing_stat['end_lat'].values[i],4),round(missing_stat['end_lng'].values[i],4))
            if b==stat_data['station_coor'].values[j]:
                missing_stat['end_station_name'].values[i]=stat_data['station_name'].values[j]

In [66]:
stat_data

,station_name,station_lat,station_lng,station_coor,station_coor1,station_coor2,station_coor3
0,Aberdeen St & Jackson Blvd,41.877793,-87.654751,"(41.8778, -87.6548)","(41.9, -87.7)","(41.88, -87.65)","(41.878, -87.655)"
1,Desplaines St & Kinzie St,41.888716,-87.644448,"(41.8887, -87.6444)","(41.9, -87.6)","(41.89, -87.64)","(41.889, -87.644)"
2,Larrabee St & Armitage Ave,41.918084,-87.643749,"(41.9181, -87.6437)","(41.9, -87.6)","(41.92, -87.64)","(41.918, -87.644)"
3,Kingsbury St & Kinzie St,41.889077,-87.638426,"(41.8891, -87.6384)","(41.9, -87.6)","(41.89, -87.64)","(41.889, -87.638)"
4,Michigan Ave & Oak St,41.900960,-87.623777,"(41.901, -87.6238)","(41.9, -87.6)","(41.9, -87.62)","(41.901, -87.624)"
...,...,...,...,...,...,...,...
992,Public Rack - Halsted St & 109th St,41.700000,-87.640000,"(41.7, -87.64)","(41.7, -87.6)","(41.7, -87.64)","(41.7, -87.64)"
993,Public Rack - Peterson Ave & Bernard Ave,41.990000,-87.720000,"(41.99, -87.72)","(42.0, -87.7)","(41.99, -87.72)","(41.99, -87.72)"
994,Halsted St & 80th St,41.750000,-87.640000,"(41.75, -87.64)","(41.8, -87.6)","(41.75, -87.64)","(41.75, -87.64)"
995,Central Ave & Congress Pkwy,41.870000,-87.760000,"(41.87, -87.76)","(41.9, -87.8)","(41.87, -87.76)","(41.87, -87.76)"
996,Public Rack - Clyde Ave & 87th St,41.740000,-87.570000,"(41.74, -87.57)","(41.7, -87.6)","(41.74, -87.57)","(41.74, -87.57)"

In [70]:
missing_stat.isnull().sum()

index                     0
ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    88458
start_station_id      88458
end_station_name      93409
end_station_id        93409
start_lat                 0
start_station_coor        0
start_lng                 0
end_station_coor          0
end_lat                   0
end_lng                   0
member_casual             0
dtype: int64

In [69]:
missing_stat.isnull().sum()

index                     0
ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    88458
start_station_id      88458
end_station_name      93409
end_station_id        93409
start_lat                 0
start_station_coor        0
start_lng                 0
end_station_coor          0
end_lat                   0
end_lng                   0
member_casual             0
dtype: int64

In [ ]:
##test2
stat_data.drop(['station_lat','station_lng'], axis=1,inplace=True)
stat_data=stat_data.to_numpy()
for i in range(0,len(missing_stat)):
    for j in stat_data[:, 2]:
        if missing_stat['start_coor'].values[i]==j :
            missing_stat['start_station_name'].values[i]=j
            
            break
    print(i)

    ##if missing_stat['end_coor'].values[i] in stat_data[:, 2]:
      ##  missing_stat['end_station_name'].values[i]=stat_data[np.where(arr ==missing_stat['start_coor'].values[i]),1]
        ##print('2')

In [ ]:
missing_stat.isnull().sum()